<!DOCTYPE html>
<html lang="{{ g.locale }}">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        {% block head_meta %}{% endblock %}
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootswatch/3.3.6/flatly/bootstrap.min.css">
        <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
        <link rel="stylesheet" href="{{ url_for('static', filename='css/pygments.css') }}">
    </head>
    <body class="container">
        {% block body %}
            <div class="row">
                <article class="col-md-8">
                    {% block content %}{% endblock %}
                </article>
                <aside class="col-md-3 col-md-push-1">
                    {% block sidebar %}
                        {% block sidebar_head %}{% endblock %}
                        <ul class="nav nav-pills nav-stacked">
                            {% for url, title in widgets.navigation %}
                                <li><a href="{{ url }}" {% if url == request.path %}class="active"{% endif %}>{{ title }}</a></li>
                            {% endfor %}
                            <li><a href="mailto:byashimov@gmail.com">byashimov@gmail.com</a></li>
                            <li><a href="https://github.com/byashimov" title="My github page"><img src="{{ url_for('static', filename='svg/octocat.svg') }}" width="28" alt="github"></a></li>
                        </ul>
                        {% block sidebar_tail %}{% endblock %}
                    {% endblock %}
                </aside>
            </div>
        {% endblock %}
        <!-- Yandex.Metrika counter --> <script type="text/javascript"> (function (d, w, c) { (w[c] = w[c] || []).push(function() { try { w.yaCounter38423020 = new Ya.Metrika({ id:38423020, clickmap:true, trackLinks:true, accurateTrackBounce:true }); } catch(e) { } }); var n = d.getElementsByTagName("script")[0], s = d.createElement("script"), f = function () { n.parentNode.insertBefore(s, n); }; s.type = "text/javascript"; s.async = true; s.src = "https://mc.yandex.ru/metrika/watch.js"; if (w.opera == "[object Opera]") { d.addEventListener("DOMContentLoaded", f, false); } else { f(); } })(document, window, "yandex_metrika_callbacks"); </script> <noscript><div><img src="https://mc.yandex.ru/watch/38423020" style="position:absolute; left:-9999px;" alt="" /></div></noscript> <!-- /Yandex.Metrika counter -->
    </body>
</html>
