{% extends 'base.html' %}

{% from 'helpers/forms.html' import form_field %}

{% block head_meta   %}
    <title>typus — {{ _('typography tool') }}</title>
    <link rel="shortcut icon" href="{{ url_for('typus_web.static', filename='favicon.ico') }}">
{% endblock %}

{% block content %}
<h1>typus<sup>β</sup><small> — {{ _('typography tool') }}</small></h1>
{% if diff is defined and not diff %}
    <div class="alert alert-info">Nothing changed.</div>
{% endif %}
<form method="POST">
    {{ form.hidden_tag() }}
    {{ form_field(form.text, rows=6, autofocus=True) }}
    {{ form_field(form.escape_phrases) }}
    <div class="form-group">
        <button type="submit" class="btn btn-success btn-block">{{ _('Typography') }}</button>
    </div>
    {% if diff %}
        <pre class="diff">{{ diff|safe }}</pre>
    {% endif %}
</form>
{% endblock %}

{% block sidebar_head %}
    <p>
        {% if g.locale == 'en' %}
            <a href="?lang=ru">По-русски</a>
        {% else %}
            <a href="?lang=en">In English</a>
        {% endif %}
    </p>
    <p>{{ _('Found a bug?') }} <a href="https://github.com/byashimov/typus/issues" target="_blank">{{ _('Report!') }}</a></p>
    <hr>
{% endblock %}

